.hero_container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: center;
  color: white;
}

.hero_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70%;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 15%;
  backdrop-filter: blur(10px);
}

button{
  border: none;
  width: 10rem;
  height: 20vh;
  text-align: start;
  font-size: 20px;
  background-color: white;
  color: #4198f5;
  border-right: solid 2px #4198f543;
}

.check_in_out {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input[type="date"], 
.booking_dropdown {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

input[type="date"]:focus, 
.booking_dropdown:focus {
  border: 1px solid #007bff;
}

.booking_dropdown {
  background-color: #f8f8f8;
  cursor: pointer;
}

.hero_content select {
  width: 100px;
}

/* Responsive design */
@media (max-width: 768px) {
  .hero_content {
    flex-direction: column;
    width: 90%;
    padding: 15px;
  }
  
  .hero_content select, 
  input[type="date"] {
    width: 100%;
  }
}
