.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(66, 63, 63, 0.728);
    max-width: 100%;
    height: 15vh;
    padding-left: 15px;
    padding-right: 15px;
}

.logo{
    height: 60px;
    width: auto;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.find-stay{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

