.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 15vh;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

.logo{
    height: 60px;
    width: auto;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.find-stay{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

