.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    max-width: 100%;
    height: 15vh;
    padding-left: 15px;
    padding-right: 15px;
}

.logo{
    height: 50px;
    width: auto;
}

.find-stay{
    font-size: 18px;
}